
    <!doctype html>
    <html lang="en">
        <head>
            <title><%=title%></title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="/stylesheet/style.css" />
               
        </head>
        <body>
            <header>
                <h2>Solent Hackathon</h2>
              </header>
              
              <section>
                <nav>
                  <ul>
                    <li><a href="/team">See Teams</a></li>
                    <li><a href="/team/add">Add Teams</a></li>
                    
                  </ul>
                  
                    <h3>Date: 01-12-2022</h3>
                    <h3>Mode: Online</h3>
                    <h3><a href="prizes.html">PRIZES</a></h3>
                    <h3><a href="judges.html">JUDGES</a></h3>
                    <h3><a href="eligibility.html">ELIGIBILITY</a></h3>
                   
                </nav>
                
                 
                
                <article>
                  <h1>About hackathon </h1>
                  <h3>Theme: "The Environment" </h3>
                  <p>It’s that time of year again! This year’s hackathon will commence soon and the environment is the chosen theme.  While the environment is a broad topic, the goal of this hackathon is to focus on a few specific issues. The problems we would like to tackle are: air pollution, water pollution, and climate change.</p>
                  <p>Given the hackathon's focus on the environment, it is timely to consider how best to protect and conserve our world's natural resources. One approach is to develop policies and regulations that will discourage waste and excessive consumption. Another is to develop new technologies that will allow us to use resources more efficiently. Still another is to change our consumption patterns.</p>
                <div class="basicDetails">
                  <h1>Who can participate</h1> 
                  <p>-Above legal age of majority in country of residence</p>
                  <p><a href="">View full rules</a></p>
              
                </div>
                <table>
                  <h1>Hackathon sponsors</h1>   
                  <tr>
                    <th>Hackathon main partner  </th>
                    <th>Hackathon partners</th>
                   
                  </tr>
                  <tr>
                    <th><img src="/images/microsoft.jpg" alt="Image source is pexels.com" width ="100px" height="50px"></th>
                    <th><img src="/images/earthacks.png" alt="Image source is pexels.com" width ="100px" height="20px"></th>
                   
                  </tr>
                </table>   
                
    
                </article>
              
                
              </section>
              
              <footer>
                
              </footer>

             

              

               

                
             
             
        </body>
    </html>
